{% extends "base_quiz.html" %}
{% load latexify %}

{% block title %} {{ title|title }} {% endblock %}
{% block body %}
<h1 class="text-center">{{ title|title }}</h1>

<form action="{% url 'mcquiz:solutions' pk url %}" method="get">
  {% for question in questions %}
  <div class="row justify-content-center mb-4">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Question #{{ forloop.counter }}</h5>
          {% if question.figure %}
          <div class="text-center mb-3">
            <img class="img-fluid" src="{{question.figure.url}}" alt="Figure for question {{ forloop.counter }}">
          </div>
          {% endif %}
          <p>{% latexify question.content parse_math=True %}</p>
          {% for answer in question.answers %}
          <div class="form-check">
            <input class="form-check-input" name="{{ question.id }}" value="{{ answer.0 }}" type="radio" id="ans{{ forloop.parentloop.counter }}{{ forloop.counter }}" />
            <label class="form-check-label" for="ans{{ forloop.parentloop.counter }}{{ forloop.counter }}">{% latexify answer.1 parse_math=True %}</label>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <p class="text-center">No Questions Here...</p>
  {% endfor %}
  {% if questions %}
  <div class="text-center">
    <button class="btn btn-primary" type="submit">Submit Quiz</button>
  </div>
  {% else %}
  <div class="text-center">
    <button class="btn btn-primary disabled" type="submit">Submit Quiz</button>
  </div>
  {% endif %}
</form>
{% endblock %}