{% extends "base_quiz.html" %}
{% block title %} Quizzes {% endblock %}
{% block body %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h1 class="text-center">Quizzes</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th class="text-center">Questions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
        <tr>
          <td>{{ quiz.title|title }}</td>
          <td class="text-center">{{ quiz.number_of_questions }}</td>
          <td class="text-center">
            <a href="{% url 'mcquiz:quiz-detail' quiz.id quiz.url %}" class="btn btn-primary">Start</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td>No quizzes yet.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

 