{% extends "base_quiz.html" %}

{% block title %} {{ object.title|title }} {% endblock %}
{% block body %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">{{ object.title|title }}</h2>
        <p>{{ object.description }}</p>
        <hr />
        <p class="text-center"><strong>Number of Questions:</strong> {{ object.number_of_questions }}</p>
        <p class="text-center"><strong>Pass Mark:</strong> {{ object.pass_mark }}</p>
        <div class="text-center">
          <a class="btn btn-success" href="{% url 'mcquiz:question-list' object.id object.url %}">Start Quiz</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


