{% extends 'base_quiz.html' %}
{% load latexify %}

{% block body %}

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title text-center">Summary</h5>
        <table class="table">
          <tr>
            <th>Total Questions</th>
            <td class="text-end">{{ number }}</td>
          </tr>
          <tr>
            <th>Total Correct</th>
            <td class="text-end">{{ total }}</td>
          </tr>
          <tr>
            <th>Total Incorrect</th>
            <td class="text-end">{{ errors }}</td>
          </tr>
          <tr>
            <th>% Correct</th>
            <td class="text-end">{{ score|floatformat:"1" }} %</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">Solutions</h1>
{% for question in questions %}
<div class="row justify-content-center mb-4">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Question #{{ forloop.counter }}</h5>
        {% if question.figure %}
        <div class="text-center mb-3">
          <img src="{{question.figure.url}}" alt="Figure for question {{ forloop.counter }}" class="img-fluid">
        </div>
        {% endif %}
        <p>{% latexify question.content parse_math=True %}</p>
        {% for choice in question.choices %}
        {% if choice.0 == question.guess and question.guess == question.answer %}
        <p class="bg-success p-2 text-white">{% latexify choice.1 parse_math=True %}</p>
        {% elif question.guess == None and choice.0 == question.answer %}
        <p class="bg-success p-2 text-white">{% latexify choice.1 parse_math=True %}</p>
        {% elif question.guess == None and choice.0 != question.answer %}
        <p class="bg-danger p-2 text-white">{% latexify choice.1 parse_math=True %}</p>
        {% elif choice.0 == question.guess %}
        <p class="bg-danger p-2 text-white">{% latexify choice.1 parse_math=True %}</p>
        {% elif choice.0 == question.answer %}
        <p class="bg-success p-2 text-white">{% latexify choice.1 parse_math=True %}</p>
        {% else %}
        <p>{% latexify choice.1 parse_math=True %}</p>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% empty %}
<p class="text-center">No Questions Here...</p>
{% endfor %}

{% endblock %}